simplejson
requests
aiohttp
flask
pytz
peewee
pymongo
tzlocal
PySide6==6.2.2
pyqtgraph==0.12.3
qdarkstyle
numpy==1.23.0
pandas
matplotlib
seaborn
deap
plotly
importlib-metadata
backports.zoneinfo; python_version < '3.9'

