simplejson
requests
aiohttp
pytz
peewee
pymongo
tzlocal
PySide6
pyqtgraph==0.12.3
qdarkstyle
numpy==1.23.0
pandas
matplotlib
seaborn
ta-lib
deap
plotly
importlib-metadata
backports.zoneinfo; python_version < '3.9'

